.wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.side-image {
  flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #121c25;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 415px;
}

h2 {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 2rem;
  color: #4f4f4f;
  text-align: center;
}

p {
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #384887;
}

.keychain {
  display: block;
  width: 50%;
  margin-left: 15%;
  margin-top: 5%;
}

.btn-container {
  margin-top: 5%;
}

.transition,
.question label,
.question input[type='text'] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

input {
  margin-top: 30px;
  background-color: #384887;
  text-align: center;
  width: 100%;
  height: 50px;
}

input:valid {
  background-color: #e5e5e5;
}

.question {
  position: relative;
  text-align: center;
  margin-top: 1%;
  font-size: 1.25rem;
  font-weight: 700;
}

.question:first-of-type {
  padding-top: 0;
}

.question:last-of-type {
  padding-bottom: 0;
}

.question label {
  transform-origin: center;
  color: #f0f0f5;
  position: absolute;
  margin-top: -37px;
  margin-left: -77px;
  z-index: 1;
  pointer-events: none;
}

.question input[type='text'] {
  appearance: none;
  background-color: none;
  border: none;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 5px;
  color: #4f4f4f;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

.question input[type='text']:focus {
  outline: none;
  border: #121c25;
  background: #e5e5e5;
  color: #4f4f4f;
  margin-top: 30px;
}

.question input[type='text']:valid {
  margin-top: 30px;
}

.question input[type='text']:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
  color: #384887;
}

.question input[type='text']:valid ~ label {
  text-transform: uppercase;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
  color: #384887;
}
