.box {
  width: 100%;
  height: 100vh;

  position: fixed;
}

.box div {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: animate 4s linear infinite;
  background: rgba(56,72,135,.5);
  border-radius: 15px;
  
  z-index: -1;
}

.box div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}

.box div:nth-child(2) {
  top: 26%;
  left: 89%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(3) {
  top: 80%;
  left: 90%;
  animation: animate 5s linear infinite;
}

.box div:nth-child(4) {
  top: 65%;
  left: 75%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}

.box div:nth-child(7) {
  top: 70%;
  left: 33%;
  animation: animate 8s linear infinite;
}

.box div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(9) {
  top: 23%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(10) {
  top: 35%;
  left: 7%;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(1000px) rotate(50deg);
  }

  100% {
    transform: scale(1.6) translateY(-1000px) rotate(360deg);
  }
}
  