@media only screen and (max-width: 600px){
  html{
    font-size: 16px;
  }
  
  body{
    padding: 0;
    margin: 0;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    
  }
  
  .headerContainer{
    width: 100%;
    height: 6rem;
    font-weight: bold;
    padding: 0;
    color: white;
    background-image: linear-gradient( to right, var(--dark-blue-color), var(--blue-color));
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .btnContainer{
    margin: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .btn{
    
    font-weight: bold;
    background: white;
    border: none;
    padding: 0.4rem;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--btn--color);
    font-weight: bold;
    box-shadow: -1px 4px 5px 5px rgba(0,0,0,0.05);

    margin-right: 0;

  
  }
  .btn img{
    margin-bottom: 0.2rem;
  }
  .btn p {
    margin-bottom: 0.2rem;
  }
  
  .menuHeaderContainer{
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
  
  .switch{
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 20px;
    background-color: #eee;
    border-radius: 20px;
  }
  .switch::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 18px;
    border-radius: 50%;
    background-color: var(--dark-blue-color);
    top: 1px;
    transition: all 0.3s;
  
  }
  .checkbox:checked + .switch::after{
    left: 30px;
  }
  .checkbox:checked +.switch{
    background-color: #89939F;
    
    
  }
  .checkbox{
    display: none;
  }
  .titleContainer{
    display: inherit;
    flex-direction: column;
    font-size: 0.7rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  input[type='text']{
    border: none;
    text-emphasis: none;
    background-color: var(--body-color);
  }
  
  .creditContainer{
    display: inherit;
    flex-direction: column;
    font-size: 0.7rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
  }
  
  .sideText{
    margin-top: 1rem;
    margin-left: 1rem;
  }
  
  
  .toggleButtonContainer{
    margin-top: 0.2rem;
  }
  .balanceContainer{
    display: inherit;
    flex-direction: row;
    font-weight: 50;
  }
  #balanceHider{
    margin-top: -0.01rem;
    margin-top: -0.01rem;
  }
  
  .containerCard{
    margin: 0 auto;
    margin-top: 1rem;
    width: 85%;
    height: 35vh;
    background-color: var(--body-color);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: -1px 4px 5px 4px rgba(0,0,0,0.05);
  
  }
  
  h3{
    color: var(--dark-blue-color);
    margin-top: 2rem;
    font-weight: bold;
    font-size: 0.6rem;
  }
  .ltdContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .ltdContainer p {
    color: #4F4F4F;
    font-size: 0.9rem;
  }
  
  .lt {
    font-size: 1.5rem;
  }
  
  
  .hourContainer{
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0rem;
  }
  
  .timeSetContainer label {
    font-size: 0.5rem;
  }
  
  
  .weekList {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-start !important;
    margin-top: 0.7rem;
    align-self: flex-start;
    padding: 0;
  }
  .weekItem{
    display: inline-block;
    background-color: var(--btn--color);
    border-radius: 1.2rem;
    color: white ;
    text-align: center;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    padding: 0.2rem;
    font-size: 0.5rem;
    font-weight: bold;
    margin-left: .5rem;
  }
  p{
    margin: 0;
  }
  
  .weekItemText{

  }

  .stateActive {
    background-color: var(--dark-blue-color);
  }
  .controlsContainer{
    position: relative;
    top: 0;
    left: 0;
  }
  .chartContainer{
    display: flex;
    padding: 0rem;
    font-size: 0.4rem;
    justify-content: center;
    align-items: center;

  }

  #historyChart{
    width: 45%;
  }

  input[type="number"]{
    width: 25%;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    color: #4F4F4F;
    margin-left: 0.3rem;
    border: none;
    background-color: var(--body-color);
  }
  input[type="time"]{
    
    background-color: var(--body-color);
  }
}