main {
  display: grid;
  align-content: center;
  justify-content: center;
}

.wrapper {
  min-height: 70vh;
  width: 320;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

h2 {
  margin-top: 1.5%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 2rem;
  color: #384887;
  text-align: center;
}

h3 {
  margin-top: 1.5%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 2rem;
  color: #4f4f4f;
  text-align: center;
}

input {
  margin-top: 10%;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  background: transparent;
  border: none;
  color: #4f4f4f;
  caret-color: transparent;
}

textarea:focus,
input:focus {
  outline: none;
  caret-color: transparent;
}

.btn-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

#success {
  display: flex;
  flex-direction: column;
}

#success h2 {
  margin-top: 5%;
  color: #577192;
}

#success img {
  width: 25%;
  display: block;
  margin: 0 auto;
  margin-top: 15%;
}

#success p {
  margin-top: 2%;
  text-align: center;
  color: #4f4f4f;
}

#success h3 {
  margin-top: 10%;
  color: #4f4f4f;
}

#success .btn-blue {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  background-color: #384887;
  color: #f0f0f5;
}
