#modal #container {
  display: flex;
  flex-direction: column;
  /* padding: 10%; */
}

#modal.wrapper {
  min-height: 70vh;
  width: 320;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

#modal h2 {
  margin-top: 1.5%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 2rem;
  color: #384887;
  text-align: center;
}

#modal h3 {
  margin-top: 1.5%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 2rem;
  color: #4f4f4f;
  text-align: center;
}

#modal input {
  margin-top: 10%;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  background: transparent;
  border: none;
  color: #4f4f4f;
  caret-color: transparent;
}

#modal textarea:focus,
#modal input:focus {
  outline: none;
  caret-color: transparent;
}

.btn-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-self: center;
  color: #4f4f4f;
  padding-bottom: 10%;
}

#modal #success {
  padding: 10%;
  display: flex;
  flex-direction: column;
}

#modal #success h2 {
  margin-top: 5%;
  color: #577192;
}

#modal #success img {
  width: 15%;
  display: block;
  margin: 0 auto;
}

#modal #success p {
  margin-top: 2%;
  text-align: center;
  color: #4f4f4f;
}

#modal #success h3 {
  margin-top: 10%;
  color: #4f4f4f;
}

#modal #success .btn-blue {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  background-color: #384887;
  color: #f0f0f5;
}

#modal button.btn {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #f0f0f5;
  border: none;
  filter: drop-shadow(0px 4px 10px #00000040);
  transition: 0.2s all;
}

#modal button.btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#modal button.btn-blue {
  background: #384887;
  color: #f0f0f5;
}

#modal button.btn-yellow {
  background-color: #ffd15e;
  color: #4f4f4f;
}
