body {
  height: 100%;
  display: flex;
  align-items: stretch;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

nav ul li{
  font-weight: 500;
  font-size: 16px;
  color: #4F4F4F;
  transition: 0.2s;
  text-decoration: none;
  cursor: pointer;
}

nav ul li:hover, nav ul li.selected {
  border-bottom: 6px solid #384887;
  font-weight: 700;
  color: #384887;
}

form#cadastro { display: none; }

