
:root{
  --dark-blue-color: #1C2755;
  --blue-color:#5166B9;
  --body-color:#E5E5E5;
  --btn--color:#BDBDBD
}

 body{
  box-sizing: border-box;

    padding: 0;
    margin: 3rem;
    background-color: var(--body-color);
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat';
  }
.headerContainer{
  display:flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  height: 80vh;
  font-weight: bold;
  color: white;
  background-image: linear-gradient( to right, var(--dark-blue-color), var(--blue-color));
  
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}


.btnContainer{
  margin: 5rem;
  
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.middleContainer{
  display:flex;
  flex-direction: column;
}
.btn{
  
  font-weight: bold;
  background: white;
  border: none;
  padding: 0.4rem;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--btn--color);
  font-weight: bold;
  box-shadow: -1px 4px 5px 5px rgba(0,0,0,0.05);

  margin-right: 1.2rem;
  cursor: pointer;
}
.btn img{
  margin-bottom: 0.2rem;
}
.btn p {
  margin-bottom: 0.2rem;
}

.menuHeaderContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
}

.switch{
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 20px;
  background-color: #eee;
  border-radius: 20px;
}
.switch::after{
  content: '';
  position: absolute;
  width: 1rem;
  height: 18px;
  border-radius: 50%;
  background-color: var(--dark-blue-color);
  top: 1px;
  transition: all 0.3s;

}
.checkbox:checked + .switch::after{
  left: 30px;
}
.checkbox:checked +.switch{
  background-color: #89939F;
  
}
.checkbox{
  display: none;
}
.titleContainer{
  display: inherit;
  flex-direction: column;
  font-size: 50%;
  margin-top: 1rem;
  margin-left: 1rem;
}
.titleContainer p {
  margin-bottom: 0.4rem;
}

input[type='text']{
  border: none;
  text-emphasis: none;
  font-size: 1.2rem;
  width: 20%;
  color: #4F4F4F;
}

input[type='text']:focus{
  outline-width: 0;
  border-bottom: 1.5px solid #1C2755;
}

.timeSetContainer{
  margin-bottom: 0.7rem;
}

.labelStyle{
  color:#4F4F4F ;
  font-weight: lighter;
  font-size: 0.7rem;
}

.creditContainer{
  display: inherit;
  flex-direction: column;
  font-size: 50%;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.creditContainer p {
  margin-bottom: 0.5rem;
}


.sideText{
  
  font-size: 0.8rem;
  margin-top: 2.5rem;
  
}


.toggleButtonContainer{
  margin-top: 0.2rem;
}
.balanceContainer{
  display: inherit;
  flex-direction: row;
  font-weight: 50;
}

.balanceContainer img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}


#balanceHider{
  position: relative;
  top: -4px;
  left: 6px;
}

.containerCard{
  margin: 0 auto;
  margin-top: 1rem;
  width: 85%;
  height: 35vh;
  background-color:white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: -1px 4px 5px 4px rgba(0,0,0,0.05);

}

h3{
  color: var(--dark-blue-color);
  margin-top: 2rem;
  font-weight: bold;
  font-size: 0.6rem;
}
.ltdContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.ltdContainer p {
  color: #4F4F4F;
  font-size: 0.9rem;
}

.lt {
  font-size: 1.5rem;
}


.hourContainer{
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 10rem;
  width: 100%;
  padding: 0.5rem;
}
.hourContainer h3{
  font-size: 0.8rem;
}

.hourContainer p {
  font-size: 0.6rem;
  color: #4F4F4F;
  font-weight:lighter
}

.hour{
  font-size: 1.2rem; 
   color: #4F4F4F;;

}


.weekList {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-start !important;
  margin-top: 0.2rem;
  align-self: flex-start;
  padding: 0;
}
.weekItem{
  display: inline-block;
  background-color: var(--btn--color);
  border-radius: 1.2rem;
  color: white ;
  text-align: center;
  top: 1rem;
  width: 1rem;
  height: 1rem;
  padding: 1px;
  font-size: 0.5rem;
  font-weight: bold;
  margin-left: .5rem;
  cursor: pointer;
}

.hiderValue{
  filter : blur(4px)
}
p{
  margin: 0;
}

.weekItemText{
  position: relative;
  top: 0.2rem;
  align-self: center;
  justify-self: center;
}




.controlsContainer{
  display: flex;
  flex-direction: column;
  top: 50px;
  left: 65%;
}


.limitContainer{
  
}





















@media only screen and (max-width: 600px){
  body{
    padding: 0;
    margin: 0;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
  }
  
  .headerContainer{
    display:inline-block;
    width: 100%;
    height: 6rem;
    font-weight: bold;
    color: white;
    background-image: linear-gradient( to right, var(--dark-blue-color), var(--blue-color));
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;


    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .btnContainer{
    margin: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .btn{
    
    font-weight: bold;
    background: white;
    border: none;
    padding: 0.4rem;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--btn--color);
    font-weight: bold;
    box-shadow: -1px 4px 5px 5px rgba(0,0,0,0.05);

    margin-right: 0;

  
  }
  .btn img{
    margin-bottom: 0.2rem;
  }
  .btn p {
    margin-bottom: 0.2rem;
  }
  
  .menuHeaderContainer{
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
  
  .switch{
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 20px;
    background-color: #eee;
    border-radius: 20px;
  }
  .switch::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 18px;
    border-radius: 50%;
    background-color: var(--dark-blue-color);
    top: 1px;
    transition: all 0.3s;
  
  }
  .checkbox:checked + .switch::after{
    left: 30px;
  }
  .checkbox:checked +.switch{
    background-color: #89939F;
    
    
  }
  .checkbox{
    display: none;
  }
  .titleContainer{
    display: inherit;
    flex-direction: column;
    font-size: 0.7rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  input[type='text']{
    border: none;
    text-emphasis: none;
    background-color: var(--body-color);
  }
  
  .creditContainer{
    display: inherit;
    flex-direction: column;
    font-size: 0.7rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
  }
  
  .sideText{
    margin-top: 1rem;
    margin-left: 1rem;
  }
  
  
  .toggleButtonContainer{
    margin-top: 0.2rem;
  }
  .balanceContainer{
    display: inherit;
    flex-direction: row;
    font-weight: 50;
  }
  #balanceHider{
    position: relative;
    top: -4px;
    left: 6px;
  }
  
  .containerCard{
    margin: 0 auto;
    margin-top: 1rem;
    width: 85%;
    height: 35vh;
    background-color: var(--body-color);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: -1px 4px 5px 4px rgba(0,0,0,0.05);
  
  }
  
  h3{
    color: var(--dark-blue-color);
    margin-top: 2rem;
    font-weight: bold;
    font-size: 0.6rem;
  }
  .ltdContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .ltdContainer p {
    color: #4F4F4F;
    font-size: 0.9rem;
  }
  
  .lt {
    font-size: 1.5rem;
  }
  
  
  .hourContainer{
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0rem;
  }
  
  .timeSetContainer label {
    font-size: 0.5rem;
  }
  
  
  .weekList {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-start !important;
    margin-top: 0.7rem;
    align-self: flex-start;
    padding: 0;
  }
  .weekItem{
    display: inline-block;
    background-color: var(--btn--color);
    border-radius: 1.2rem;
    color: white ;
    text-align: center;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    padding: 0.2rem;
    font-size: 0.5rem;
    font-weight: bold;
    margin-left: .5rem;
  }
  p{
    margin: 0;
  }
  
  .weekItemText{
    position: relative;
    top: 0.2rem;
    align-self: center;
    justify-self: center;
  }


  .controlsContainer{
    position: relative;
    top: 0;
    left: 0;
  }

}