* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f0f0f5;
}

.wrapper {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  justify-items: center;
}

.card {
  --height: 222px;
  --width: 350px;
  height: var(--height);
  width: var(--width);
  min-width: var(--width);
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.6));
  transform: translateY(calc(50% - 10px));
  margin: 10px;
  position: relative;
}

.card-blue {
  background: linear-gradient(
    227.39deg,
    rgba(81, 102, 185, 0.901042) -0.56%,
    #1c2755 67.51%
  );
  color: #f0f0f5;
}

.card-yellow {
  background: linear-gradient(
    227.39deg,
    rgba(255, 227, 155, 0.901042) -0.56%,
    #ffd15e 67.51%
  );
  color: #4f4f4f;
}

.card svg {
  position: absolute;
  top: 15%;
  left: 15%;
}

.card-blue svg path {
  fill: #f0f0f5;
}

.card-yellow svg path {
  fill: #4f4f4f;
}

p {
  text-align: center;
  font-size: 2.25rem;
  position: absolute;
  top: 46%;
  right: 10%;
}
