#container {
  max-width: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 414px) {
  #container {
    display: flex;
    height: calc(100vh - 60px);
  }
}

#modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

#card {
  background: linear-gradient(227.39deg, rgba(81, 102, 185, 0.901042) -0.56%, #1C2755 67.51%);
  width: 80%;
  border-radius: 15px;
  min-width: 300px;
  margin-bottom: 30px;
}

#topDiv {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: flex-end;
  padding-bottom: 5vw;
}

#topDiv img { width: 75px; }

#bottonDiv {
  display: flex;
  flex-direction: column;
  color: #F0F0F5;
  margin: 30px;
}

#bottonDiv > span:nth-child(1) { font-size: 21px; }
#bottonDiv > span:nth-child(2) { font-size: 14px; }
#bottonDiv > span:nth-child(3) { font-size: 16px; }

#bottonDiv > span:nth-child(2) {
  margin-right: 100px; 
  display: flex;
  justify-content: space-between;
}

#divCvcValidade {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

div.small { width: 42% }

