* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #f0f0f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: consolas;
}

.container {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-self: center;
}

.container .card {
  height: 300px;
  position: relative;
  cursor: pointer;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  border-radius: 10px;
}

#card1 {
  background: linear-gradient(
    227.39deg,
    rgba(81, 102, 185, 0.901042) -0.56%,
    #1c2755 67.51%
  );
  color: #f0f0f5;
}

#card2 {
  background: linear-gradient(
    227.39deg,
    rgba(255, 227, 155, 0.901042) -0.56%,
    #ffd15e 67.51%
  );
  color: #4f4f4f;
}

.container .card:hover .face.face1 {
  transform: translateY(0);
}

.container .card .face.face1 .content {
  width: 80%;
  opacity: 0.4;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  text-align: right;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  border-radius: 10px;
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #4f4f4f;
  padding: 5px;
  border: 1px solid #4f4f4f;
}

.container .card .face.face2 .content a:hover {
  background: #4f4f4f;
  color: #fff;
}
